= form_with(model: jam, local: true) do |f|
  = f.hidden_field :youtube_url
  = f.hidden_field :youtube_id
  - if jam.errors.any?
    #error_explanation
      %h2 
        "pluralize(jam.errors.count, "error") prohibited this jam from being saved:"

      %ul
        - jam.errors.full_messages.each do |message|
          %li=message

  = f.label :title
  = f.text_field :youtube_title
  %ul
    = f.fields_for :tracks do |tracks_form|
      %li
        = tracks_form.label :number
        = tracks_form.text_field :track_number

        = tracks_form.label :start_time
        = tracks_form.text_field :start_time

        = tracks_form.label :name
        = tracks_form.text_field :name

        = tracks_form.label :end_time
        = tracks_form.text_field :end_time
  .actions
    = f.submit
