- if jam.errors.any?
  #error_explanation
    %h2 
      "pluralize(jam.errors.count, "error") prohibited this jam from being saved:"

    %ul
      - jam.errors.full_messages.each do |message|
        %li=message


= form_with(model: jam, local: true) do |f|
  = f.hidden_field :youtube_url
  = f.hidden_field :youtube_id
  .row
    = image_tag jam.cover_image_remote_url, class: "pull-left"
    = f.hidden_field :cover_image_remote_url
    .album-meta
      = f.text_field :youtube_title
  %table.table
    = f.fields_for :tracks do |tracks_form|
      %tr
        %td.download
          = tracks_form.check_box :download
        %td.track-no
          = tracks_form.text_field :track_number
        %td.time-field
          = tracks_form.text_field :start_time
        %td.time-field
          = tracks_form.text_field :end_time
        %td.name-field
          = tracks_form.text_field :name
  .actions
    = f.submit
