= form_with(model: jam, local: true) do |f|
  = f.hidden_field :youtube_url
  = f.hidden_field :youtube_id
  - if jam.errors.any?
    #error_explanation
      %h2 
        "pluralize(jam.errors.count, "error") prohibited this jam from being saved:"

      %ul
        - jam.errors.full_messages.each do |message|
          %li=message

  = f.text_field :youtube_title
  %table.table
    %thead
      %th
        %span.glyphicon.glyphicon-download
      %th="#"
      %th="Start"
      %th="End"
      %th="Title"

    = f.fields_for :tracks do |tracks_form|
      %tr
        %td.download
          = check_box_tag "jam[tracks_attributes][][end_time]", true, true
        %td.track-no
          = tracks_form.text_field :track_number
        %td.time-field
          = tracks_form.text_field :start_time
        %td.time-field
          = tracks_form.text_field :end_time
        %td.name-field
          = tracks_form.text_field :name
  .actions
    = f.submit
