- if jam.errors.any?
  .alert.alert-danger
    - jam.errors.full_messages.uniq.each do |message|
      %p=message

= form_with(model: jam, local: true) do |f|
  = f.hidden_field :youtube_url
  = f.hidden_field :youtube_id
  .row
    .col-xs-12.col-md-6.cover-image
      = image_tag jam.cover_image_remote_url, class: "pull-left"
    = f.hidden_field :cover_image_remote_url
    .col-xs-12.col-md-6.album-meta
      = f.text_field :youtube_title
      = f.text_field :artist, placeholder: 'Artist'
  %hr
  .table-container
    %table.table#tracks-table
      = f.fields_for :tracks do |tracks_form|
        %tr
          %td.track-no
            = tracks_form.text_field :track_number
          %td.time-field
            = tracks_form.text_field :start_time
          %td.time-field
            = tracks_form.text_field :end_time
          %td.name-field
            = tracks_form.text_field :name
          %td
            %button.remove-track.glyphicon.glyphicon-remove.pull-right

  .col-md-6.text-center
    %button.btn.form-button#add-track=t('components.album.add_track')
  .col-md-6
    = f.button t('components.album.create'), type: :submit, class: "form-button btn"
