%p#notice>= notice

= form_for(:jam_params, url: new_jam_path, method: :get) do |f|
  = f.text_field :content_url
  = f.submit 'Go'

%h1
  Jams

%table
  %thead>
    %tr>
      %th

  %tbody>
    - @jams.each do |jam|
      %tr
        %td= link_to 'Show', jam
        %td= link_to 'Edit', edit_jam_path(jam)
        %td= link_to 'Destroy', jam, method: :delete, data: { confirm: 'Are you sure?' }

%br>
