%p#notice>= notice

= form_for(:jam_params, url: new_jam_path, method: :get) do |f|
  .input-group
    = f.text_field :content_url, { class: "form-control", placeholder: "e.g.: https://www.youtube.com/watch?v=VlQV2kFXDb8&t=1968s"}
    .input-group-btn
      = f.button 'Go', type: :submit, class: 'btn btn-success'
%h1
  Other Jams
  %table
    %thead>
      %tr>
        %th

    %tbody>
      - jams.each do |jam|
        %tr
          %td= jam.youtube_title
          %td= link_to 'Show', jam
          %td= link_to 'Edit', edit_jam_path(jam)
          %td= link_to 'Destroy', jam, method: :delete, data: { confirm: 'Are you sure?' }

%br>
